.container {
  min-width: 320px;
  height: 224px;
  border-radius: 24px;
  padding: 32px 0 0 32px;
  margin: 20px;
  background-color: #ffffff;
}

.containerBtn {
  width: 64px;
  height: 56px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  color: #4bcfa0;
  margin-left: 24px;
  font-weight: 500;
  text-transform: uppercase;
}

.containerBtn:hover {
  color: #ffffff;
  background-color: #4bcfa0;
  border: none;
}

.categoryTypography {
  font-size: 16px;
  opacity: 0.5;
  line-height: 24px;
  margin: 0;
  text-transform: uppercase;
}

.titleTypography {
  margin: 10px 0;
  font-size: 40px;
  line-height: 48px;
  font-weight: 400;
}

.priceTypography {
  font-size: 60px;
  margin: 0;
}

.priceIconTypography {
  font-size: 30px;
  padding-top: 10px;
  padding-right: 5px;
  margin: 0;
}

.sectionPrice {
  display: flex;
  width: 200px;
}

.sectionAction {
  margin-top: 40px;
  display: flex;
  align-items: center;
}
